<header id="header" class="header opened">
  <div class="container">
    <div class="header__inner d-flex align-items-center justify-content-between">
      {{#each header}}
      <!-- logo -->
      <a href="/" class="logo d-flex list flex-center">
        <svg class="icon" width="91" height="34">
          <use xlink:href="#logo-white"></use>
        </svg>
      </a>
      <!-- /logo -->

      <!-- menu -->
      <div class="menu d-flex flex-column align-items-md-end justify-content-md-end">
        <div class="menu__head d-flex d-md-none align-items-center justify-content-between">
          <a href="/" class="logo d-flex list flex-center">
            <svg class="icon" width="91" height="34">
              <use xlink:href="#logo-black"></use>
            </svg>
          </a>
          <a href="#" class="menu__close">
            <svg class="icon" width="24" height="23">
              <use xlink:href="#close"></use>
            </svg>
          </a>
        </div>
        <div class="menu__content">
          <ul class="menu__list list d-flex flex-column flex-md-row align-items-md-center">
            {{#each menu}}
            <li class="menu__item">
              <a href="{{ link }}" class="menu__link animation-letters">{{ link_name }}</a>
            </li>
            {{/each}}
          </ul>
        </div>

        <ul class="social list d-flex d-md-none align-items-center justify-content-between">
       {{#each social}}
          <li>
            <a href="{{ link }}" target="_blank">
              <svg class="icon" width="50" height="50">
                <use xlink:href="#{{ icon }}"></use>
              </svg>
            </a>
          </li>
          {{/each}} 
        </ul>
      </div>
      <!-- /menu -->
      <!-- burger -->
      <div class="burger-menu d-flex d-md-none position-relative">
        <span class="burger-menu__line"></span>
      </div>
      <!-- /burger -->
      {{/each}}
    </div>
  </div>
  <!--
  <div class="menu-main--mob">
    <div class="menu-main--mob__content">
      <a href="/index.html">
        <img src="images/logo/split-logo--small.svg" alt="SPLIT Development Logo" style="width: 86px">
      </a>
      <ul class="menu-main--mob__list list ">
        {{#each header}}
        {{#each menu}}
          <li {{#if active}} class="active" {{/if}}>
            <a href="{{ link }}">{{ link_name }}</a>
          </li>
        {{/each}}
        {{/each}}
      </ul>
      <hr>
      <ul class="menu-main--mob__list extra list d-flex flex-wrap">
        {{#each footer}}
        {{#each col3}}
          <li>
            <a href="{{ link }}">{{ text }}</a>
          </li>
        {{/each}}
        {{/each}}
      </ul>
    </div>
  </div> -->
</header>
