<section class="portfolio-all row position-relative {{settings}}" data-color-group="{{color}}">
    <p class="bg-text rellax">{{bg-text}}</p>
    <div class="col-lg-7">
        <div class="portfolio-all__img">
            <h2>{{{mob-title}}}</h2>
            <img src="{{img}}" alt="Split Web Development">
        </div>
    </div>
    <div class="col-lg-5">
        <div class="portfolio-all__text d-flex flex-column">
            <h2>{{{title-text}}}</h2>
<!--            <p>{{text}}</p>-->
            <div class="portfolio-all__services">
                <h5>Services</h5>
                <div class="portfolio-all__services-item {{color-text}}"><img src="images/portfolio/artist.svg" alt="Design">Design</div>
                <div class="portfolio-all__services-item {{color-text}}"><img src="images/portfolio/frontend.svg" alt="Frontend">Frontend</div>
                <div class="portfolio-all__services-item {{color-text}}"><img src="images/portfolio/backend.svg" alt="Backend">Backend</div>
            </div>
            <div class="portfolio-all__platforms">
                <h5>Platforms</h5> 
                <div class="portfolio-all__platforms-item {{color-text}}">Desktop</div>
                <div class="portfolio-all__platforms-item {{color-text}}">Mobile</div>
            </div>
            <div class="portfolio-all__tags">   
                <h5>Tags</h5>
                <div class="portfolio-all__tag {{color-text}}">Responsive</div>
                <div class="portfolio-all__tag {{color-text}}">Dashboard</div>
                <div class="portfolio-all__tag {{color-text}}">Highload</div>
                <div class="portfolio-all__tag {{color-text}}">WEB-Service</div>
                <div class="portfolio-all__tag {{color-text}}">Dashboard</div>
                <div class="portfolio-all__tag {{color-text}}">Highload</div>
                <div class="portfolio-all__tag {{color-text}}">WEB-Service</div>
            </div>
            <div class="portfolio-all__links"> 
                <a class="btn btn__black btn__hover-white btn-6" href="{{link}}">Live Site
                   <span></span>
                </a>
                <a class="btn btn__white btn__hover-black btn-6" href="{{link}}">See Case
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</section>
